*{

box-sizing:border-box;

}


body{

margin:0;

padding:0;

font-family:'Poppins',sans-serif;

color:white;

text-align:center;

min-height:100vh;


background:

linear-gradient(
rgba(0,0,40,0.5),
rgba(0,0,20,0.8)
),

url("background.jpg");


background-size:cover;

background-position:center;

overflow-x:hidden;

}




section{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:20px;

}



.hidden{

display:none !important;

}



/* Welcome */


.welcome-content{

background:rgba(255,255,255,0.12);

backdrop-filter:blur(10px);

padding:40px;

border-radius:30px;

box-shadow:0 0 40px pink;

animation:zoom 2s;

}


.welcome-content h1{

font-size:70px;

color:#ffd700;

text-shadow:0 0 30px gold;

}



button{

padding:15px 35px;

border:none;

border-radius:30px;

background:linear-gradient(45deg,#ff1493,#ffd700);

color:white;

font-size:20px;

cursor:pointer;

box-shadow:0 0 25px pink;

animation:pulse 2s infinite;

}



@keyframes pulse{

50%{

transform:scale(1.08);

}

}


@keyframes zoom{

from{

transform:scale(.5);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}





/* Balloon Bouquet */


#balloonBouquet{

position:relative;

width:430px;

height:520px;

margin:auto;

}



.balloonItem{

position:absolute;

z-index:5;

animation:float 4s infinite ease-in-out;

}



.balloon{

width:75px;

height:100px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

font-weight:bold;

color:white;

position:relative;


background:

radial-gradient(
circle at 30% 20%,
white,
#ff4081,
#9c004f
);


box-shadow:

inset -15px -20px 25px rgba(0,0,0,.3),

0 0 25px pink;

text-shadow:0 0 15px white;

cursor:pointer;

}




.balloon::after{

content:"";

position:absolute;

bottom:-100px;

height:100px;

width:2px;

background:white;

}



.ribbon{

font-size:70px;

margin-top:-60px;

}



@keyframes float{

50%{

transform:translateY(-20px);

}

}




/* Name Glow */


.shine-name{

font-size:100px;

color:#ffd700;

text-shadow:

0 0 10px white,

0 0 30px gold,

0 0 50px orange;

font-family:'Great Vibes',cursive;

}




/* Cake */


.cake{

font-size:120px;

animation:pulse 2s infinite;

}




/* Gift */


.gift{

font-size:120px;

cursor:pointer;

animation:pulse 2s infinite;

}





/* Photos */


.slider img{

width:90vw;

max-width:700px;

max-height:80vh;

object-fit:contain;

border-radius:25px;

box-shadow:0 0 40px pink;

}




.next-hint{

font-size:30px;

margin:30px;

animation:arrow 1s infinite;

}



@keyframes arrow{

50%{

transform:translateY(15px);

}

}




/* Birthday Wishes */


.birthday-title{

font-size:80px;

margin-bottom:70px;

color:#ffd700;

text-shadow:0 0 30px gold;

}



.birthday-title span{

font-family:'Great Vibes',cursive;

font-size:100px;

color:white;

}




.birthday-message{

font-size:28px;

line-height:1.8;

max-width:900px;

text-shadow:0 0 15px pink;

}





/* Password */


input{

padding:15px;

font-size:20px;

border-radius:20px;

border:none;

margin:20px;

}





/* Video */


video{

border-radius:25px;

box-shadow:0 0 40px pink;

}





/* Final */


#finalMessage h1{

font-size:90px;

color:#ffd700;

text-shadow:0 0 40px gold;

}


#finalMessage h2{

font-size:250px;

color:white;

text-shadow:0 0 40px pink;

}




.final-text{

font-size:30px;

}





/* Mobile */


@media(max-width:600px){


.welcome-content h1{

font-size:40px;

}



.shine-name{

font-size:60px;

}


#balloonBouquet{

transform:scale(.8);

}



.birthday-title{

font-size:45px;

}


.birthday-title span{

font-size:60px;

}


.birthday-message{

font-size:20px;

}


#finalMessage h2{

font-size:70px;

}


#finalMessage h1{

font-size:45px;

}


    }
